.fondo-personalizado {
  background-color: #40565c;
  
}

.fondo-personalizado2 {
  background-color: #052e35;
}
/* Logo fijo */
.logo {
  background-image: url("udec.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 120px;
  height: 120px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  border-radius: 50%;
  background-color: white;
  padding: 10px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.4);
}
